.git
.next
**/.next
node_modules
**/node_modules
npm-debug.log
playwright-report
test-results
Dockerfile
.dockerignore
.env
.env.*
.bin
terraform
infrastructure/terraform
docs
scripts/tools
README.md
